$BASE-COLOR: deepskyblue;
$BACK-COLOR: #36c9ff;
$HOVER-COLOR: #0086bb;
$LINK-COLOR: rgba(255, 255, 255, 0.5);
$GREY-COLOR: #989898;
$DIVIDER-COLOR: #d5d5d5;
$PURPLE_COLOR: #c474e4;
$LOGIN_BACK_COLOR: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
$CALENDAR-BORDER-COLOR: #cccccc;