$BASE-COLOR: deepskyblue;
$BACK-COLOR: #36c9ff;
$HOVER-COLOR: #0086bb;
$ACTIVE-COLOR: #005e83;
$LINK-COLOR: rgba(255, 255, 255, 0.5);
$GREY-COLOR: #989898;
$LIGHTGREY-COLOR: #efefef;
$DIVIDER-COLOR: #d5d5d5;
$WHITESMOKE_COLOR: #fafafa;
$PURPLE_COLOR: #c474e4;
$LOGIN_BACK_COLOR: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
$CALENDAR-BORDER-COLOR: #cccccc;
$CALENDAR-HOVER-COLOR: #95daff;
$CALENDAR-NUMBER-BLACK-COLOR: #1d2429;
$CALENDAR-CURRENT-DAY-INDICATOR-COLOR: #3d91ff;
$REJECT-COLOR: red;
$REJECT-HOVER-COLOR: darkred;
$ADDITION-COLOR: rgb(79, 222, 35);
$ADDITION-HOVER-COLOR: darkgreen;
$DEFAULT-COLOR: orange;
$DEFAULT-HOVER-COLOR: orangered;
$BLACK-COLOR: black;