<div id="holidays" class="jumbotron">
    <h2 class="view-title text-left">{{ 'holidays_view.title' | translate}}</h2>
    <hr>

    <div class="row">
        <div class="col-xs-6 text-left">
            <a class="btn btn-primary" role="button" ng-click="prevPage()"><b><</b></a>
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group" uib-dropdown is-open="false">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
                    {{ currentYear }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li ng-repeat="year in years"><a ng-click="setYear(year)">{{year}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <br>

    <div class="well well-lg">
        <div class="row" id="holidays-view">
            <div class="col-md-6">
                <table class="table" id="holidays-list">
                    <thead>
                    <tr>
                        <th colspan="2">{{ 'holidays_view.table.header_name' | translate}}</th>
                        <th>{{ 'holidays_view.table.header_date' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr class="hvr-grow-shadow" ng-repeat="holiday in holidays" ng-click="setCurrentHoliday(holiday)">
                        <td colspan="2">{{holiday.name}}</td>
                        <td>{{getDate(holiday.date)}}</td>
                        <td> <i ng-if="showWarning(holiday)" class="glyphicon glyphicon-exclamation-sign" style="color: #337ab7"></i> </td>
                    </tr>
                    <!--new holiday-->
                    <tr>
                        <td colspan="2"><input type="text" class="form-control" ng-model="ctrl.newDate.name"
                                   placeholder="{{ 'holidays_view.name' | translate}}"></td>
                        <td colspan="2">
                            <p class="input-group" style="margin: 0;">
                                <input type="text" class="form-control" readonly
                                       ng-model="ctrl.newDate.date" uib-datepicker-popup="yyyy/MM/dd"
                                       is-open="ctrl.newDateOpened" show-button-bar="false" datepicker-options="newDateOptions"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="ctrl.newDateOpened = true">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                    <button class="btn btn-success" type="button" ng-click="saveNewDate()">
                                        {{ 'holidays_view.add' | translate }}
                                    </button>
                                </span>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--current holiday-->
            <div id="holiday-details" class="col-md-6" style="text-align: center;">
                <h3 class="text-center" style="margin-bottom: 2em">{{ 'holidays_view.details' | translate }}</h3>
                <div style="display: inline-block" ng-if="calendarVisible">
                    <input type="text" class="form-control name-input" ng-model="ctrl.currentName"
                           placeholder="{{ 'holidays_view.name' | translate}}">
                    <div style="display:inline-block; margin-bottom: 5px;" class="well well-sm">
                        <div class="ui-datepicker" uib-datepicker ng-model="ctrl.currentDate"
                             datepicker-options="currentOptions"></div>
                    </div>
                    <div>
                        <button class="btn btn-danger" style="float: left" ng-click="delete()">{{ 'holidays_view.delete' | translate}}
                        </button>
                    </div>
                </div>
                <!--no calendar-->
                <div ng-if="!calendarVisible">
                    <span class="date-placeholder text-center">{{ 'holidays_view.placeholder' | translate }}</span>
                    <br>
                    <i class="glyphicon glyphicon-exclamation-sign" style="color: #337ab7;"></i>
                    <span class="date-placeholder text-center">{{ 'holidays_view.exclamation' | translate }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-left">
            <button class="btn btn-warning" ng-click="reset()">{{ 'holidays_view.reset' | translate}}</button>
            <button class="btn btn-danger" ng-click="default()">{{ 'holidays_view.default' | translate}}</button>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-success" ng-click="saveHolidays()">{{ 'holidays_view.save' | translate}}</button>
        </div>
    </div>
</div>