<div id="admin-view" class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <a href="admin/employees"><span class="glyphicon glyphicon-user tile-font hvr-grow"></span></a>
            <span class="tile-font-title">{{ 'admin_view.menu.employees' | translate}}</span>
        </div>


        <div class="col-md-4">
            <a href="admin/requests"><span class="glyphicon glyphicon-copy tile-font hvr-grow"></span></a>
            <span class="tile-font-title">{{ 'admin_view.menu.requests' | translate}}</span>
        </div>


        <div class="col-md-4">
            <a href="admin/holidays"><span class="glyphicon glyphicon-calendar tile-font hvr-grow"></span></a>
            <span class="tile-font-title">{{ 'admin_view.menu.holidays' | translate}}</span>
        </div>
    </div>
</div>