@import 'src/global-styles/color-variables';

.subLinks {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  margin-left: 2rem;
}

.disabledLink,
.disabledLinkActive {
  color: $GREY-COLOR !important;
  padding: 0;
}

.disabledLinkActive {
  color: $BASE-COLOR !important;
}