* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #ddd;
}

/*global style*/
.full-width {
    width: 100%;
}

.table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}

.table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
}

.view-title {
    font-weight: bold;
    color: #15466f;
    font-size: 3em;
    margin-top: 0;
}

.days_pool {
    font-style: italic;
    font-weight: bold;
    font-size: 1.3em;
}

/* Login page */
#login {
    display: table;
    height: 100%;
    width: 100%;
}

#login .alert.alert-danger {
    margin: 0 2px 0 2px;
    border-radius: 0;
}

#login .center-box {
    display: table-cell;
    vertical-align: middle;
}

#login .box {
    margin-left: auto;
    margin-right: auto;
    margin-top: -1px;
    width: 400px;
    height: 100%;
    border: 0;

    background: #72a200;
}

@media (max-width: 400px) {
    #login .box {
        width: 100%;
    }
}

#login .box .logo {
    padding: 20px 20px;
    background: none;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    border-bottom: none;
}

#login .box #login-form {
    position: relative;
    padding: 20px 30px 30px;
    margin: 0 2px 2px 2px;
    background: #fff;
}

#login .box #login-form button {
    margin-top: 30px;
    background: #f65d00;
    color: #fff;
}

#login .box #login-form span {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 0.9rem;
    font-weight: normal;
    color: #888;
}

.panel {
    margin-bottom: 0;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
}

#footer .container {
    height: 100%;
    position: relative;
}

.container .credit {
    margin: 20px 0;
}

.container #copyright {
    position: absolute;
    left: 15px;
}

.container #translations {
    position: absolute;
    right: 15px;
    top: 18px;
    bottom: 18px;
}

/*Login modal*/
.large-Modal .modal-dialog {
    width: 400px;
    height: 331px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

/*EMPLOYEES TABLE*/

/*BOOTSTRAP OVERRIDE*/
#employees.table th, #employees.table td {
    border-top: none !important;
}

#employees td.employee_details{
    padding: 0;
}

#employees .employee_details .well {
    background: white;
    border: 0;
    border-bottom: 3px;
    border-radius: 0 0 15px 15px;
}

#employees .padded {
    line-height: 2em;
}

#employees .comment {
    min-height: 2em;
    height: 6em;
    resize: none;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

#employees .no-bottom-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#employees .button-bottom-spaced {
    margin-bottom: 4%;
}

/*CONFIRM MODAL*/

div.days_confirm_text{
    margin: 0;
    padding: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.button_holder button.btn {
    border: 0;
}

/*LEFT button*/
#left_button {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

#left_button:hover {
    background-color: lightcoral;
}

/*RIGHT button*/
#right_button {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#right_button:hover {
    background-color: lightgreen;
}

/* Form modal */
#startdate {
    background-color: floralwhite;
}

#enddate {
    background-color: floralwhite;
}

.error {
    height: 350px;
    width: auto;
}

.sorting_button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.sorting_icon {
    font-size: 1.2em;
}

.table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}

.table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
}

.inline {
    display: inline-block;
    background-color: white;
}

.dropdown_button {
    cursor: pointer;
}

#admin-view .tile-font {
    font-size: 20vh;
    text-align: center;
    vertical-align: middle;
    line-height: 30vh;
    display: block;
    padding-bottom: 20px; /*space between glyphicon and title*/
    margin-bottom: -30px; /*to hover when over the title*/
}

#admin-view .tile-font-title {
    font-size: 180%;
    text-align: center;
    vertical-align: middle;
    display: block;
}

#admin-view a {
    text-decoration: none;
    color: inherit;
}

#holidays-list.table th, #holidays-list.table td {
    border-top: none !important;
}

#holidays .name-input {
    width: 306px;
    font-size: 150%;
}

.confirm_text {
    font-size: 18px;
}

.holidays_pool {
    font-size: 150%;
}
.date-placeholder {
    font-style: italic;
    color: darkgrey;
}
.column_employees {
    overflow: hidden;
    width: 250px;
}

/* NAVBAR (HEADER) */
.dropdown-reversed .divider {
    margin: 0;
}

.dropdown-reversed li a {
    padding-top: 9px;
    padding-bottom: 9px;
}