@import '../../global-styles/bootstrap-breakpoints';
@import '../../global-styles/color-variables';
@import url('https://fonts.cdnfonts.com/css/poppins');

.calendarWrapper {
  margin-bottom: 1rem;
}

.calendar {
  overflow: auto;
  font-size: 1.125rem;
  position: relative;
  font-family: 'Poppins', sans-serif;

  :global {
    .rdrDays{
      row-gap: 8px;
      column-gap: 8px;

      .rdrDay {
        width: calc((100% - 48px) / 7 );
        border-radius: 4px;
        border: 1px solid transparent;

        .rdrDayNumber {
          color: transparent;

          span {
            font-size: 16px;
          }
        }

        .rdrSelected {
          border-radius: 0;
          left: 0;
          top: 0;
          width: 101%;
          height: 101%;
        }

        .rdrSelected + .rdrDayNumber {
          color: transparent;
        }
  
        &:hover {
          border: 1px solid #78A612;
          transition: all 0.6s ease-in-out;
        }

        &:not(.rdrDayPassive) {
          .rdrSelected ~ .rdrDayNumber {
            span {
              color: $CALENDAR-NUMBER-BLACK-COLOR;
            }
          }
        }
      }

      .rdrDay.rdrDayToday {
        background-color: #002900;

        .rdrDayNumber {
          span {
            color: #fff;

            &:after {
              content: unset;
            }
          }
        }
      }
    }

    .rdrDay:not(.rdrDayDisabled, .rdrDayPassive) {
      .rdrDayNumber {
        span {
          color: #002900;

          strong {
            font-size: 12px;
          }
        }
      }
    }

    .rdrWeekDays {
      column-gap: 8px;
    }

    .rdrWeekDay {
      color: #002900;
      font-size: 14px;
    }

    .rdrMonths {
      overflow: hidden;

      .rdrMonth {
        padding: 0;

        &:first-child {
          margin-right: 56px;
        }

        .rdrMonthName {
          text-align: center;
          text-transform: capitalize;
          font-size: 20px;
          font-weight: 400;
          color: #002900;
        }
      }
    }

    .rdrMonthAndYearWrapper {
      position: absolute;
      display: flex;
      width: 100%;

      .rdrNextPrevButton {
        width: 48px;
        height: 48px;
        background: #FFF;
        transform: perspective(1px) translateZ(0);
        transition-property: transform;
        transition-duration: 0.6s;
        transition-timing-function: ease-in-out;

        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(120, 166, 18, 0.1);
          border-radius: 24px;
          transform: scale(0);
          transition-property: transform;
          transition-duration: 0.6s;
          transition-timing-function: ease-in-out;
        }

        &:hover:before {
          transform: scale(1);
        }

        i {
          margin: 0 auto;
          width: 16px;
          height: 16px;
          border-style: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .rdrMonthAndYearPickers {
        display: none;
      }

      .rdrPprevButton {
        i {
          background-image: url('../../assets/left-arrow.svg');
        }
      }

      .rdrNextButton {
        i {
          background-image: url('../../assets/right-arrow.svg');
        }
      }
    }
  }
}

.rdrNextPrevButton {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}

.rdrWeekDays {
  column-gap: 8;
}

.rdrDays {
  display: grid;
}

.mainNumber {
  position: absolute;
  bottom: 0.3rem;
  left: 0.5rem;
  width: 22px;
}

.absentUsersLabel {
  font-size: 0.75rem;
  padding-top: 1.25rem;

  &::after {
    content: none !important;
  }
}

.exclamationIcon,
  .absenceIcon {
    color: #ECA725;
    font-size: 0.9rem;
    position: absolute;
    top: 0.2rem;
    right: 0.5rem;
}

.absenceIcon {
  color: #78A612;
  font-size: 0.8rem;
  top: 0.3rem;
}

.filterSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.filter {
  display: flex;
  width: 100%;
}

.filter + .filter {
  margin-top: 1rem;
}

.selection {
  width: 100%;
}

.label {
  margin: 0.3rem 0.4rem 0 0;
}

@include media-breakpoint-up(md) {
  .filterSection {
    flex-direction: row;
  }

  .filter {
    width: 348px;
    margin-right: 56px;

    input {
      outline-color: #719ECE;
    }

    span {
      display: none;
    }
  }

  .filter + .filter {
    margin-top: 0;
  }
}