@import '../../global-styles/bootstrap-breakpoints';

.btn {
  background-color: inherit;
  border: none;
}

.main span[class='sr-only'] {
  display: none;
}

.tableWrapper table {
  table-layout: auto;
}

.actions {
  display: flex;
}