@import "src/global-styles/color-variables";

.topBar {
  background-color: white;
  width: 100%;
}

.topBarLogo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #78A612;
  border-radius: 50%;
  height: 640px;
  margin-top: -456px;
}

.topBarName {
  font-size: 60px;
  line-height: 90px;
  font-weight: 275;
  color: white;
}

.fullWidth {
  width: 100%;
  align-items: center;
}

.mobileRightSide {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.hamburger {
  border: none;
  outline: none;
  box-shadow: none !important;
}

.button {
  border: none;
  background-color: inherit;
  outline: none;
}

.settingsButton {
  border: none;
  background-color: inherit;
  outline: none;
}

.settingsIcon {
  color: #002900;

  &:hover {
    color: #78a612;
  }
}

.icon {
  color: #002900;
  font-size: 1.5rem;
  margin: 0 2rem;
  transition: transform 0.3s ease-in-out;

  &:hover {
    color: #78a612;
    transform: scale(1.2);
  }
}

.brandLogo {
  width: 100px;
  height: 45.5px;
  margin-bottom: 40px;
}

.appLogo {
  filter: brightness(0) invert(1);
  height: 40px;
}