@import "src/global-styles/color-variables";

.topBar {
  background-color: $BASE-COLOR;
  width: 100%;
}

.mobileRightSide {
  padding: 0.5rem;
  display: flex;
}

.hamburger {
  border: none;
  outline: none;
  box-shadow: none !important;
}

.button {
  border: none;
  background-color: inherit;
  outline: none;
}

.settingsButton {
  border: none;
  background-color: inherit;
  outline: none;
}

.settingsIcon {
  color: $WHITESMOKE_COLOR;

  &:hover {
    color: $HOVER-COLOR;
  }
}

.icon {
  color: white;
  font-size: 1.5rem;
  margin: 0 0.5rem;

  &:hover {
    color: $HOVER-COLOR;
  }
}

.brandLogo {
  width: 100px;
  height: 45.5px;
}

.appLogo {
  filter: brightness(0) invert(1);
  height: 40px;
}