@import "src/global-styles/color-variables";
@import "src/global-styles/bootstrap-breakpoints";

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.5rem 0 3.5rem 0;
}

.mainContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 2rem;
  line-height: 1;
  padding-bottom: 2rem;
  color: #002900;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
}

.timePickersContainer {
  display: flex;
}

.dash {
  border: 1px solid #002900;
  width: 1rem;
  background-color: #002900;
}

.presenceConfirmationButton {
  border-radius: 4px;
  background-color: #002900;
  padding: 15px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  border: none;
  color: white;
  margin-top: 20px;
  line-height: 1;

  &:hover {
    background-color: #78A612;
  }
}

.dateTimePickerInput {
  width: 8rem;
  height: 44px;
  background-color: #F2EFEA;
  color: black;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid #002900;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #FFF;
    border-bottom: 2px solid #78A612;
  }
}

@include media-breakpoint-down(lg) {
  .container {
    flex-direction: column;
  }

  .timePickersContainer {
    margin-top: 0.6rem;
    flex-direction: column;
    align-items: center;
  }

  .presenceConfirmationButton {
    margin-top: 1.2rem;
  }

  .timePickersContainer {
    flex-direction: column;
    align-items: center;
  }
}

@include media-breakpoint-down(sm) {
  .dash {
    transform: none;
    margin: 0 auto;
  }

  .timePickersContainer {
    flex-direction: column;
  }

  .inputWrapper {
    text-align: center;
  }
}
