@import "src/global-styles/color-variables";
@import "src/global-styles/bootstrap-breakpoints";

.container {
  border: 1px solid $DIVIDER-COLOR;
  border-radius: 6px;
  padding: 1rem 0.5rem;
  margin: 0.5rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: fit-content;
  max-width: 70%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.timePickersContainer {
  display: flex;
}

.dash {
  border: 1px solid black;
  width: 1.5rem;
  transform: translateY(0.8rem);
  background-color: black;
}

.presenceConfirmationButton {
  border: 1px solid $GREY-COLOR;
  border-radius: 4px;
  background-color: white;
  margin: 0 10px;

  &:hover {
    background-color: $WHITESMOKE_COLOR;
  }
}

.dateTimePickerInput {
  width: 7rem;
  background-color: white;
  color: black;
  border: 1px solid grey;
  border-radius: 4px;

  &:hover {
    background-color: $WHITESMOKE_COLOR;
  }
}

.lineBreak {
  margin-top: 24px;
}

@include media-breakpoint-down(md) {
  .container {
    flex-direction: column;
  }
  .timePickersContainer {
    margin-top: 0.6rem;
  }
  .presenceConfirmationButton {
    margin-top: 1.2rem;
  }
}
