<!--EmployeesCtrl-->
<div class="jumbotron">
    <!--view header-->
    <h2 class="view-title text-left">{{ 'employees_view.title' | translate}}</h2>
    <hr>

    <!--navigation-->
    <div class="row">
        <div class="col-xs-6 text-left">
            <a class="btn btn-primary" role="button" ng-click="prevPage()"><b><</b></a>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-primary" ng-click="synchronize()">{{'button.synchronize' | translate}}</button>
        </div>
    </div>
    <br>
    <br>


    <!--filters-->
    <div class="row">
        <div class="col-sm-3">
            <input type="text" class="form-control" placeholder="{{ 'employees_view.search_name' | translate }}"
                   ng-model="nameSearch.fullName">
        </div>
        <div class="col-sm-2">
            <div class="btn-group" uib-dropdown is-open="false">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle
                        ng-disabled="disabled">
                    {{ selectedTeam }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li>
                        <a class="dropdown_button" ng-click="allEmployees()">{{ 'employees_view.all_teams' |
                            translate }}</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-repeat="item in teams">
                        <a class="dropdown_button" ng-click="dropDownTeams(item)">{{ item.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="btn-group" uib-dropdown is-open="false">
                <button id="group-button" type="button" class="btn btn-primary" uib-dropdown-toggle
                        ng-disabled="disabled">
                    {{ selectedContract }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li>
                        <a class="dropdown_button" ng-click="allContracts() ">{{ 'employees_view.all_employees' |
                            translate }}</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="dropdown_button" ng-click="dropDownContracts('ec')">{{
                            'employees_view.EC_employees' | translate }}</a>
                        <a class="dropdown_button" ng-click="dropDownContracts('others')">{{
                            'employees_view.others' | translate }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="checkbox">
                <label><input type="checkbox" data-ng-model='leaderSearch.leader' data-ng-true-value='true'
                              data-ng-false-value=''>{{ 'employees_view.only_leaders' | translate }}</label>
            </div>
        </div>
    </div>

    <!--view body-->
    <table class="table table-striped" id="employees">

        <thead>
        <tr>
            <th class="column_employees">
                <button class="sorting_button" ng-if="reverse" ng-click="sortBy('surname')">
                    {{ 'employees_view.name' | translate }}
                    <span class="glyphicon glyphicon-sort-by-alphabet-alt sorting_icon"></span>
                </button>
                <button class="sorting_button" ng-if="!reverse" ng-click="sortBy('surname')">{{ 'employees_view.name' |
                    translate }}<span class="glyphicon glyphicon-sort-by-alphabet sorting_icon"></span></button>
                <span ng-show="propertyName === 'user.name'" ng-class="{reverse: reverse}"></span>
            </th>
            <th class="column_employees">
                <button class="sorting_button" ng-if="reverse" ng-click="sortBy('mail')">{{
                    'employees_view.mail' | translate }}<span
                            class="glyphicon glyphicon-sort-by-alphabet-alt sorting_icon"></span>
                </button>
                <button class="sorting_button" ng-if="!reverse" ng-click="sortBy('mail')">{{
                    'employees_view.mail' | translate }}<span
                            class="glyphicon glyphicon-sort-by-alphabet sorting_icon"></span>
                </button>
                <span ng-show="propertyName === 'user.mail'" ng-class="{reverse: reverse}"></span>
            </th>
            <th class="column_employees">{{ 'employees_view.team' | translate }}</th>
            <th class="column_employees">{{ 'employees_view.type_of_job' | translate }}</th>
        </tr>
        </thead>

        <tbody>

        <!--User header-->
        <tr class="hvr-grow-shadow"
            ng-repeat-start="user in users | filter : teamSearch | orderBy : propertyName : reverse | filter : nameSearch : strict | filter : leaderSearch | filter : contractSearch"
            ng-click="isCollapsed=!isCollapsed">
            <td ng-if="user.leader"><b>{{ user.name }} {{ user.surname }}</b></td>
            <td ng-if="!user.leader">{{ user.name }} {{ user.surname }}</td>
            <td>{{ user.mail }}</td>
            <td>
                <span ng-repeat="team in user.teams">
                    <span style="font-weight: 700;" ng-if="team.leader.teams.length">
                        <span ng-if="user.teams.length == 1 || $last">{{ team.name }}</span>
                        <span ng-if="user.teams.length > 1 && !$last">{{ team.name + ',' }}</span>
                    </span>
                    <span ng-if="!team.leader.teams.length">
                        <span ng-if="user.teams.length == 1 || $last">{{ team.name }}</span>
                        <span ng-if="user.teams.length > 1 && !$last">{{ team.name + ',' }}</span>
                    </span>
                </span>
            </td>
            <td>
                <span ng-if="user.ec">{{ 'employees_view.EC_employee' | translate }}</span>
                <span ng-if="!user.ec && !user.b2B" style="color: red"> {{ 'employees_view.contract_issue' | translate }}</span>
            </td>
        </tr>

        <!--User detail-->
        <tr ng-repeat-end="">
            <td colspan="4" class="employee_details">
                <div ng-if="!isCollapsed" ng-controller="UserDetailsCtrl" class="well animated fadeInUp">
                    <div class="row">

                        <!--User pool and workTime-->
                        <div class="col-md-6">
                            <div class="jumbotron" style="padding-top: 2%; padding-bottom: 2%; ">
                                <h4>
                                    <span class="padded" translate="employees_view.works_on">
                                    </span>
                                    <b>
                                        <span class="padded">{{getWorkTimeTranslation(selectedWorkTime)}}</span>
                                    </b>
                                    <br>
                                    <span class="padded" translate="employees_view.days_left_start">
                                    </span>
                                    <b>
                                        <span class="padded" translate="employees_view.days_left"
                                              translate-values="{days: days,hours: hours}">
                                        </span>
                                    </b>
                                    <span class="padded" translate="employees_view.days_left_end">
                                    </span>
                                </h4>
                            </div>

                            <div class="row">
                                <!--User pool-->
                                <div class="col-md-6">
                                    <!--title-->
                                    <b>{{ 'employees_view.modify_pool' | translate}}</b>
                                    <b ng-if="isHourly">({{'employees_view.hours' | translate}})</b>
                                    <b ng-if="!isHourly">({{'employees_view.days' | translate}})</b>

                                    <!--input-->
                                    <div class="input-group full-width">
                                        <input type="text" class="form-control no-bottom-radius"
                                               ng-model="daysPoolChange" placeholder="1d 5h 40m">
                                        <textarea class="form-control comment full-width no-bottom-radius" ng-model="comment"
                                                  placeholder="{{ 'employees_view.comment_placeholder' | translate}}">
                                        </textarea>
                                        <button class="btn btn-default no-top-radius btn-block" type="button" ng-click="changeDaysPool()">
                                            <span class="glyphicon glyphicon-ok-sign" style="color: green"></span>
                                        </button>
                                    </div>
                                </div>

                                <!--User worktime-->
                                <div class="col-md-6">
                                    <!--title-->
                                    <b>{{ 'employees_view.modify_workTime' | translate}}</b>
                                    <!--select-->
                                    <select ng-options="getWorkTimeTranslation(time) for time in workTimes" ng-model="selectedWorkTime"
                                            ng-change="changeWorkTime()" class="custom-select">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!--User history-->
                        <div class="col-md-6">
                            <b>{{ 'employees_view.last_operations' | translate}}</b><br>
                            <table class="table table-striped">
                                <tbody>
                                    <tr ng-repeat-start="history in userHistory.list">
                                        <td>{{history.created}}
                                        </td>
                                        <td ng-if="history.fullTime" class="text-center">
                                            {{ history.days }}
                                        </td>
                                        <td ng-if="!history.fullTime" class="text-center">
                                            {{ history.hours }}
                                        </td>
                                        <td>{{ history.comment }}</td>
                                    </tr>
                                    <tr ng-repeat-end ng-if="history.workTime !== userHistory.list[$index + 1].workTime">
                                        <td colspan="3">
                                            <span ng-if="userHistory.list[$index + 1] != null">
                                                {{'employees_view.workTime_changed' | translate}} :
                                            </span>
                                            <span ng-if="userHistory.list[$index + 1] == null">
                                                {{'employees_view.workTime' | translate}} :
                                            </span>
                                            <span ng-if="history.workTime !== 8"
                                                  translate="employees_view.shift"
                                                  translate-values="{workTime_a: history.workTimeNominator,workTime_b: history.workTimeDenominator}">
                                            </span>
                                            <span ng-if="history.workTime === 8">
                                                {{ 'employees_view.full_time' | translate }}
                                            </span>
                                        </td>
                                    </tr>
                                <tr>
                                    <td colspan="3" style="text-align: center"><a
                                            href="admin/employees/user?mail={{user.principalName}}">
                                        {{'employees_view.show_all' | translate}}</a></td>
                                </tr>
                                </tbody>
                            </table>
                            <button style="margin-top: -10px" class="btn btn-danger" ng-click="report()">Raport</button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>