<div class="jumbotron">
    <h2 class="view-title text-left">{{ 'requests_view.title' | translate}}</h2>
    <hr>

    <div class="row">
        <div class="col-xs-6 text-left">
            <a class="btn btn-primary" role="button" ng-click="prevPage()"><b><</b></a>
        </div>
        <div class="col-xs-6 text-right">
        </div>
    </div>

    <br>

    <div id="requests">
        <table st-table="displayed" st-pipe="callServer" class="table table-stripped">
            <thead>
            <tr>
                <th st-sort="requester.mail">{{'table.requester' | translate}} <span class="sort glyphicon"></span></th>
                <th>{{'table.leader' | translate}}</th>
                <th st-sort="startDate">{{'table.date' | translate}} <span class="sort glyphicon"></span></th>
                <th st-sort="type">{{'table.type' | translate}} <span class="sort glyphicon"></span></th>
                <th st-sort="status">{{'table.status' | translate}} <span class="sort glyphicon"></span></th>
            </tr>
            <tr>
                <th colspan="5">
                    <input st-search class="form-control" placeholder="{{'table.search.requester' | translate}}" type="search"/>
                </th>
            </tr>
            </thead>
            <tbody ng-show="!isLoading">
            <tr ng-repeat="request in displayed">
                {{console.log(request)}}
                <td>{{request.requesterName}}</td>
                <td>
                    <div ng-repeat="acceptance in request.acceptances">
                        <span>{{acceptance.leaderName}}</span>
                    </div>
                </td>
                <td>{{request.startDate}} - {{request.endDate}} ({{request.workingDays}} {{'worker_view.work_days' | translate}})</td>
                <td>{{'type.' + request.type | translate}}</td>
                <td>
                    <strong>{{'status.' + request.status | translate}}</strong>
                    <div ng-if="request.status === 'PENDING'">
                        <button class="btn btn-success" ng-click="accept(request)">
                            {{'table.button.accept' | translate}}
                        </button>
                        <button class="btn btn-danger" ng-click="reject(request)">
                            {{'table.button.deny' | translate}}
                        </button>
                    </div>
                    <div ng-if="request.status === 'ACCEPTED'">
                        <button class="btn btn-warning" ng-click="cancel(request)">
                            {{'table.button.cancelRequest' | translate}}
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tbody ng-show="isLoading">
                <td colspan="4" class="text-center">{{'table.loading' | translate}}</td>
            </tbody>
            <tfoot>
            <tr>
                <td class="text-right" st-pagination="" st-items-by-page="10" colspan="5"></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
