<nav class="navbar navbar-default">
    <div class="container" style="text-align: center">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{{'app.title' | translate}}</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="btn-group" uib-dropdown is-open="status.isopen" ng-controller="UserInfoCtrl">
                <a href="" id="single-button" uib-dropdown-toggle ng-disabled="disabled">
                    {{session.name +" "+session.surname}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-reversed" uib-dropdown-menu role="menu"
                    aria-labelledby="single-button">
                    <!-- User information -->
                    <li class="dropdown-header">
                        <b>{{ 'navbar.teams' | translate}}:</b><br>
                        <div ng-repeat="team in session.teams">
                            <span>{{team.name}} ({{team.leader.name}} {{team.leader.surname}})</span><br>
                        </div>
                    </li>
                    <li class="divider"></li>

                    <!-- Admin options -->
                    <li role="menuitem" permission="['ROLES_ADMIN']">
                        <a href="admin">{{'navbar.administration_tools' | translate}}</a>
                    </li>
                    <li class="divider" permission="['ROLES_ADMIN']"></li>

                    <!-- Logout -->
                    <li role="menuitem" ng-controller="logoutCtrl">
                        <a ng-click="logout()" style="cursor: pointer">{{'login.logout' | translate}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>