<div class="jumbotron">
    <title>{{ 'history_view.tile' | translate }} </title>

    <div class="row">
        <div class="col-xs-6 text-left">
            <a href="/" class="btn btn-primary" role="button"><</a>
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group" uib-dropdown is-open="false">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    {{ selectedItem }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-repeat="item in years">
                        <a class="dropdown_button" ng-click="dropBoxItemSelected(item)">{{item}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="text-center">{{'history_view.title' | translate}}</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{'history_view.created' | translate}}</th>
            <th>{{'history_view.decider' | translate}}</th>
            <th class="text-center">{{'history_view.pool' | translate}}</th>
            <th class="text-center">{{'history_view.left' | translate}}</th>
            <th>{{'history_view.comment' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="history in orderedHistory = (histories.list | orderBy: 'created': true)">
            <td>{{ history.created}}</td>
            <td ng-if="history.request">
                <span ng-repeat="acceptance in history.acceptances">
                    <span ng-if="history.acceptances.length == 1 || $last">{{ acceptance.decider.name }}</span>
                    <span ng-if="history.acceptances.length > 1 && !$last">{{ acceptance.decider.name + "," }}</span>
                </span>
            </td>
            <td ng-if="!history.request">{{ history.deciderName }}</td>
            <td>
                <span ng-if="!history.request || (history.request.type === 'NORMAL' && history.hours[0] !== '-')">
                    <span class="text-center text-success">{{ history.days }}</span>
                </span>
                <span ng-if="history.request.type === 'OCCASIONAL'">
                    <span class="text-center text-warning">{{ history.days }}</span>
                </span>
                <span ng-if="history.request.type === 'NORMAL' && history.hours[0] === '-'">
                    <span class="text-center text-danger">{{ history.days }} </span>
                </span>
            </td>
            <td class="text-center">
                {{ history.daysLeft}}
            </td>
            <td>{{ history.comment }}</td>
        </tr>
        <tr ng-repeat-end ng-if="ec == 'true' && history.workTime !== orderedHistory[$index + 1].workTime">
            <td colspan="5">
                <span ng-if="orderedHistory[$index + 1] != null">
                    {{'employees_view.workTime_changed' | translate}} :
                </span>
                <span ng-if="orderedHistory[$index + 1] == null">
                    {{'employees_view.workTime' | translate}} :
                </span>
                <span ng-if="history.workTime !== 8"
                      translate="employees_view.shift"
                      translate-values="{workTime_a: history.workTimeNominator,workTime_b: history.workTimeDenominator}">
                </span>
                <span ng-if="history.workTime === 8">
                    {{ 'employees_view.full_time' | translate }}
                </span>
            </td>
        </tr>
        </tbody>
    </table>

</div>