<div class="jumbotron row" style="width: 100%; margin-left:0; margin-right: 0;">
    <h2 class="view-title text-left">{{ 'worker_view.title' | translate }}</h2>
    <hr>

    <!-- WORKER VIEW -->
    <div id="worker_view" class="col-xs-12 col-sm-12 col-md-12">
        <h3 class="text-center">
            <b translate="workers_view.days_left" translate-values="{days: worker.holidaysPool.days,
                             hours: worker.holidaysPool.hours}"></b>
            <br><br>
            <span ng-if="worker.ec">
                <span ng-if=" worker.holidaysPool.workTimeB == 1">
                {{'employees_view.full_time' | translate}}
                </span>
                <span ng-if=" worker.holidaysPool.workTimeB != 1" translate="workers_view.work_hours"
                      translate-values="{workTime_a: worker.holidaysPool.workTimeA, workTime_b: worker.holidaysPool.workTimeB}">
                </span>
            </span>
        </h3>
        <div class="row" ng-controller="modalCtrl">
            <div class="col-xs-6 text-left">
                <button type="button" class="btn btn-primary" ng-click="open()" ng-show="showRequestButton">
                    {{'form.button' | translate}}
                </button>
            </div>
            <div class="col-xs-6 text-right">
                <a href="history" type="button" class="btn btn-primary">
                    {{'history_view.title' | translate}}
                </a>
            </div>
        </div>

        <br>
        <br>

        <div class="requests">
            <table st-table="worker.displayed" st-pipe="worker.callServer" class="table table-striped">
                <thead>
                <tr>
                    <th st-sort="startDate">{{'table.date' | translate}} <span class="sort glyphicon"></span></th>
                    <th st-sort="type">{{'table.type' | translate}} <span class="sort glyphicon"></span></th>
                    <th st-sort="status">{{'table.status' | translate}} <span class="sort glyphicon"></span></th>
                </tr>
                </thead>
                <tbody ng-show="!worker.isLoading">
                <tr ng-repeat="request in worker.displayed">
                    <td>{{request.startDate}} - {{request.endDate}} ({{request.workingDays}} {{'worker_view.work_days' | translate}})</td>
                    <td>{{'type.' + request.type | translate}}</td>
                    <td>
                        <strong>{{'status.' + request.status | translate}}</strong>
                        <div ng-if="request.status === 'PENDING'">
                            <div ng-repeat="acceptance in request.acceptances" ng-if="acceptance.status === 'PENDING'">
                                <span>{{acceptance.leaderName}}</span>
                            </div>
                            <button class="btn btn-danger text-right" ng-click="worker.cancelRequest(request)">
                                {{'table.button.cancelRequest' | translate}}
                            </button>
                        </div>
                        <div ng-if="request.status === 'REJECTED'">
                            <div ng-repeat="acceptance in request.acceptances" ng-if="acceptance.status === 'REJECTED'">
                                <span>{{acceptance.leaderName}}</span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tbody ng-show="worker.isLoading">
                    <td colspan="3" class="text-center">{{'table.loading' | translate}}</td>
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-right" st-pagination="" st-items-by-page="5" st-displayed-pages="10" colspan="3"></td>
                </tr>
                </tfoot>
            </table>
        </div>

        <!-- LEADER VIEW -->
        <div id="leader_view" class="col-xs-12 col-sm-12 col-md-12" permission="['ROLES_LEADER']">
            <br><br>
            <h2 class="view-title text-left" permission="['ROLES_LEADER']">{{ 'leader_view.title' | translate }}</h2>
            <hr>

            <div id="requests">
                <table st-table="leader.displayed" st-pipe="leader.callServer" class="table table-striped">
                    <thead>
                    <tr>
                        <th st-sort="request.requester.mail">{{'table.requester' | translate}} <span class="sort glyphicon"></span>
                        </th>
                        <th st-sort="request.startDate">{{'table.date' | translate}} <span class="sort glyphicon"></span></th>
                        <th st-sort="accepted">{{'table.status' | translate}} <span class="sort glyphicon"></span></th>
                    </tr>
                    </thead>
                    <tbody ng-show="!leader.isLoading">
                    <tr ng-repeat="acceptance in leader.displayed">
                        <td>
                            {{acceptance.requesterName}}
                        </td>
                        <td>
                            {{acceptance.startDate}} - {{acceptance.endDate}}
                            ({{acceptance.workingDays}} {{'worker_view.work_days' | translate}})
                        </td>
                        <td>
                            <span ng-if="acceptance.status === 'PENDING'">
                                <button class="btn btn-success" ng-click="leader.accept(acceptance)">
                                    {{'table.button.accept' | translate}}</button>
                                <button class="btn btn-danger" ng-click="leader.reject(acceptance)">
                                    {{'table.button.deny' | translate}}</button>
                            </span>
                            <span ng-if="acceptance.status !== 'PENDING'">{{'status.' + acceptance.status | translate}}</span>
                        </td>
                    </tr>
                    </tbody>
                    <tbody ng-show="leader.isLoading">
                        <td colspan="3" class="text-center">{{'table.loading' | translate}}</td>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="text-right" st-pagination="" st-items-by-page="8" st-displayed-pages="10" colspan="3"></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>