<div class="jumbotron">
    <title>{{ 'history_view.tile' | translate }} </title>

    <div class="row">
        <div class="col-xs-6 text-left">
            <a href="/" class="btn btn-primary" role="button"><</a>
        </div>
        <div class="col-xs-6 text-right">
            <div class="btn-group" uib-dropdown is-open="false">
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    {{ selectedItem }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li ng-repeat="item in years">
                        <a class="dropdown_button" ng-click="dropBoxItemSelected(item)">{{item}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="text-center">{{'history_view.title' | translate}}</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{'history_view.created' | translate}}</th>
            <th>{{'history_view.decider' | translate}}</th>
            <th class="text-center">{{'history_view.pool' | translate}}</th>
            <th class="text-center">{{'history_view.left' | translate}}</th>
            <th>{{'history_view.comment' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat-start="history in reversedHistories = (histories | reverse)">
            <td>{{ history.created }}</td>
            <td>
                <span ng-repeat="decider in history.deciders">
                    <span ng-if="history.deciders.length == 1 || $last">{{ decider}}</span>
                    <span ng-if="history.deciders.length > 1 && !$last">{{ decider + "," }}</span>
                </span>
            </td>
            <td>
                <span ng-if="history.hours >= 0" class="text-center text-success">
                    {{ Math.floor(history.hours / history.workTime) }}d {{ history.hours - (Math.floor(history.hours / history.workTime) * history.workTime) }}h
                </span>
                <span ng-if="history.hours < 0" class="text-center text-danger">
                    {{ Math.floor(history.hours / history.workTime) }}d {{ history.hours - (Math.floor(history.hours / history.workTime) * history.workTime) }}h
                </span>
            </td>
            <td class="text-center">
                <span ng-if="history.workTime === 8" class="text-center">
                    {{ Math.floor(history.hoursRemaining / history.workTime) }}d {{ history.hoursRemaining - (Math.floor(history.hoursRemaining / history.workTime) * history.workTime) }}h
                </span>
            </td>
            <td>{{ history.comment }} </td>
        </tr>
        <tr ng-repeat-end ng-if="history.workTime !== reversedHistories[$index + 1].workTime">
            <td colspan="5">
                <span ng-if="reversedHistories[$index + 1] != null">
                    {{'employees_view.workTime_changed' | translate}} :
                </span>
                <span ng-if="reversedHistories[$index + 1] == null">
                    {{'employees_view.workTime' | translate}} :
                </span>
                <span ng-if="history.workTime !== 8"
                      translate="employees_view.shift"
                      translate-values="{workTime_a: history.workTimeNominator,workTime_b: history.workTimeDenominator}">
                </span>
                <span ng-if="history.workTime === 8">
                    {{ 'employees_view.full_time' | translate }}
                </span>
            </td>
        </tr>
        </tbody>
    </table>

</div>